.calendarBody {
    position: "fixed",
    borderRadius: "1vh",
    backgroundColor: "#CBFEC0",
    top: "10.75vh",
    left: "1vw",
    right: "1vw",
    bottom: "35.5vh",
    boxShadow: "inset 0px 0px 0px 2px green"
}

.calendarDiv {
    border: "0px solid green",
    borderRadius: "1vh",
    backgroundColor: "#CBFEC0",
    height: "97.5%",
    marginTop: "0.4%",
    width: "calc(100%/7.275)",
    marginLeft: "0.475%",
    float: "left",
    textAlign: "center",
    fontSize: "100%",
    boxShadow: "inset 0px 0px 0px 2px green"
}

.taskDiv {
    position: "fixed",
    borderRadius: "1vh",
    backgroundColor: "#CBFEC0",
    top: "65.5vh",
    bottom: "1.5vh",
    left: "1vw",
    right: "25vw",
    float: "left",
    boxShadow: "inset 0px 0px 0px 2px green"
}

.plantDiv {
    position: "fixed",
    top: "65.5vh",
    bottom: "1.5vh",
    left: "75.75vw",
    right: "1vw",
    borderRadius: "1vh",
    backgroundColor: "#CBFEC0",
    float: "left",
    boxShadow: "inset 0px 0px 0px 2px green"
}