.calendarBody {
  position: fixed;
  border-radius: 1vh;
  background-color: #cbfec0;
  top: 10.75vh;
  left: 1vw;
  right: 25.25vw;
  bottom: 1.5vh;
  box-shadow: inset 0px 0px 0px 2px green;
  text-align: center;
}

.calendarDiv {
  border: 0px solid green;
  border-radius: 1vh;
  background-color: #cbfec0;
  height: 97.5%;
  margin-top: 0.4%;
  width: calc(100% / 7.275);
  margin-left: 0.475%;
  float: left;
  text-align: center;
  font-size: 100%;
  box-shadow: inset 0px 0px 0px 2px green;
}

.taskDiv {
  position: fixed;
  border-radius: 1vh;
  background-color: #cbfec0;
  top: 10.75vh;
  bottom: 35.5vh;
  left: 75.75vw;
  right: 1vw;
  float: left;
  box-shadow: inset 0px 0px 0px 2px green;
  text-align: center;
}

.plantDiv {
  position: fixed;
  top: 65.5vh;
  bottom: 1.5vh;
  left: 75.75vw;
  right: 1vw;
  border-radius: 1vh;
  background-color: #cbfec0;
  float: left;
  box-shadow: inset 0px 0px 0px 2px green;
}

.task {
  border-top: 2px solid green;
  padding: 2px;
  font-size: 15px;
}

.taskFill {
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 2px 2px;
  background-color: rgb(0, 0, 255, 0.5);
}

.dailyTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}

.mainCalender {
  width: 100%;
  height: 100%;
}

table,
th,
td {
  border: 2px solid green;
  border-radius: 5px;
}

.mainCalender td {
  transition: all 0.2s ease;
  text-align: center;
  transform: scale(1);
}

.mainCalender td:hover {
  transform: scale(1.02);
}
