* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

nav {
    background: #FFF0F5;
    padding: 0 15px;
    border-bottom: 1px #222 solid;
}

a {
    color: #222;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    padding: 20px;
}

.item a:hover,
.item a:hover::after {
    color: #D3D3D3;
}

.menu li a {
/* menu, li, a in NavBar.js*/
    padding: 15px 5px;
}

.item {
    width: 100%;
    text-align: center;
}

.navbaritems {  
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  .navbaritems a:hover,
  .navbaritems a:hover::after {
      color: #D3D3D3;
  }
  
  .navbar {
    height: var(--nav-size);
    background: #FFF0F5;
    /*background-color: var(--bg); */
    padding: 0 15px;
    border-bottom: 1px #222 solid;
  }
  
  /* <ul> */
  .navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  
  .dropdown {
    position: absolute;
    top: 58px;
    width: 300px;
    transform: translateX(-45%);
    background-color: #FFF0F5;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    z-index: 10;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    /* transition: background var(--speed); */
    padding: 0.5rem;
  }
